@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    outline: none;
    font-family: 'Montserrat', sem serifa;
    /*height: 100%;*/
}

.contentLoginHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.headerLoginHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.headerLoginHome > h1{
    font-size: 55px;
}


.squarelogin{
    width: 400px;
    height: 500px;
    background-color: #242424;
    border: 1px solid #ffff;
    border-radius: 30px;
}